# Logs
logs/

# Fichiers Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json
main.tfplan

# Fichiers générés par le projet KubeQuest
# Ignorer le kubeconfig et les credentials du projet
/kubequest.config
/credentials-velero
# Ignorer les charts Helm temporaires et les dépendances téléchargées
/tmp_charts/
/application/web-app/charts/
/infrastructure/overlays/production/charts/
# Ignorer les fichiers de sortie temporaires
loki-default-values.txt

# Configuration et secrets Kubernetes (uniquement les fichiers sensibles)
.kube/
*.crt
*.key
*.pem

# Clés SSH
*.pub

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers temporaires
*.tmp
*.swp
*.bak
*.old

# Environnements virtuels Python
venv/
__pycache__/

# Dépendances Node.js
node_modules/

# Fichiers spécifiques aux IDEs
.vscode/
.idea/